section.slide
	.owl-carousel.owl-theme
		.item
			img(src="img/slider.png", alt="")
		.item
			img(src="img/slider.png", alt="")
section.cate
	.container
		.row
			.col-md-6.col-sm-6.col-xs-12.item
				.box
					.square-effect
						.img.img-effect
							a.wrapper(href="#")
								img(src="img/banner1.png", alt="")
					.info
						h3
							a(href="#") TÚI XÁCH ĐEO NGANG
						p Sale 50%
			.col-md-6.col-sm-6.col-xs-12.item
				.box
					.square-effect
						.img.img-effect
							a.wrapper(href="#")
								img(src="img/banner3.png", alt="")
					.info
						h3 
							a(href="#") TÚI XÁCH ĐEO CHÉO
						p Sale 50%
