
section.carousel-product
	.container
		.row
			.col
				article.owl-carousel.owl-theme.list-items
					.item.saler_item.col-lg-12.col-md-12.col-sm-12.col-xs-12.no-padding
						a(href='#')
							figure
								.image
									img.img-fluid.front-image(src='./img/product-1.png', alt='')
								.view-more
									i.fas.fa-search-plus
									i.fas.fa-search-plus
								span.sale-pro Sale
								figcaption.price-pro
									h3.name-pro Túi đeo ngang in hoạn tiết
									.rate
										i.mdi.mdi-star
										i.mdi.mdi-star
										i.mdi.mdi-star
										i.mdi.mdi-star
										i.mdi.mdi-star
									.price 
										strong 2.200.000₫
										span 2.000.000₫
					.item.saler_item.col-lg-12.col-md-12.col-sm-12.col-xs-12.no-padding
						a(href='#')
							figure
								.image
									img.img-fluid.front-image(src='./img/product-1.png', alt='')
								span.sale-pro Sale
								figcaption.price-pro
									h3.name-pro Túi đeo ngang in hoạn tiết
									.rate
										i.mdi.mdi-star
										i.mdi.mdi-star
										i.mdi.mdi-star
										i.mdi.mdi-star
										i.mdi.mdi-star
									.price 
										strong 2.200.000₫
										span 2.000.000₫
					.item.saler_item.col-lg-12.col-md-12.col-sm-12.col-xs-12.no-padding
						a(href='#')
							figure
								.image
									img.img-fluid.front-image(src='./img/product-1.png', alt='')
								span.sale-pro Sale
								figcaption.price-pro
									h3.name-pro Túi đeo ngang in hoạn tiết
									.rate
										i.mdi.mdi-star
										i.mdi.mdi-star
										i.mdi.mdi-star
										i.mdi.mdi-star
										i.mdi.mdi-star
									.price 
										strong 2.200.000₫
										span 2.000.000₫
					.item.saler_item.col-lg-12.col-md-12.col-sm-12.col-xs-12.no-padding
						a(href='#')
							figure
								.image
									img.img-fluid.front-image(src='./img/product-1.png', alt='')
								span.sale-pro Sale
								figcaption.price-pro
									h3.name-pro Túi đeo ngang in hoạn tiết
									.rate
										i.mdi.mdi-star
										i.mdi.mdi-star
										i.mdi.mdi-star
										i.mdi.mdi-star
										i.mdi.mdi-star
									.price 
										strong 2.200.000₫
										span 2.000.000₫
					.item.saler_item.col-lg-12.col-md-12.col-sm-12.col-xs-12.no-padding
						a(href='#')
							figure
								.image
									img.img-fluid.front-image(src='./img/product-1.png', alt='')
								span.sale-pro Sale
								figcaption.price-pro
									h3.name-pro Túi đeo ngang in hoạn tiết
									.rate
										i.mdi.mdi-star
										i.mdi.mdi-star
										i.mdi.mdi-star
										i.mdi.mdi-star
										i.mdi.mdi-star
									.price 
										strong 2.200.000₫
										span 2.000.000₫
					.item.saler_item.col-lg-12.col-md-12.col-sm-12.col-xs-12.no-padding
						a(href='#')
							figure
								.image
									img.img-fluid.front-image(src='./img/product-1.png', alt='')
								span.sale-pro Sale
								figcaption.price-pro
									h3.name-pro Túi đeo ngang in hoạn tiết
									.rate
										i.mdi.mdi-star
										i.mdi.mdi-star
										i.mdi.mdi-star
										i.mdi.mdi-star
										i.mdi.mdi-star
									.price 
										strong 2.200.000₫
										span 2.000.000₫
					