footer.footer
	.footer-content
		.container
			.row.justify-content-between
				.col-lg-4.step
					.logo
						a(href="")
							img(src="./img/logo_footer.png", alt="logo")
					.quote
						ul.text
							li
								h4 Địa chỉ:
								a(href="")
									p 154 Đình Thôn Mỹ Đình, Hà Nội
							li
								h4 Hotline: 
								a(href="#")
									p 0123 456 789
							li
								h4 Email:
								a(href="")
									p evoteamthemes@gmail.com

				.col-lg-8
					.row
						.col-lg-4.step
							
							.footer-nav
								h6.text-left HỔ TRỢ KHÁCH HÀNG
								nav.list-group.text-left
									.list-group-item
										a(href="#") Trang chủ
									.list-group-item
										a(href="#") Giới thiệu
									.list-group-item
										a(href="#") Sản phẩm
									.list-group-item
										a(href="#") Sản phẩm mới
									.list-group-item
										a(href="#") Tin tức
									.list-group-item
										a(href="#") Liên hệ
						.col-lg-4.step
							
							.footer-nav
								h6.text-left dịch vụ khách hàng
								nav.list-group.text-left
									.list-group-item
										a(href="#") Trang chủ
									.list-group-item
										a(href="#") Giới thiệu
									.list-group-item
										a(href="#") Sản phẩm
									.list-group-item
										a(href="#") Sản phẩm mới
									.list-group-item
										a(href="#") Tin tức
									.list-group-item
										a(href="#") Liên hệ
						.col-lg-4.step
							.footer-nav
								h6.text-left theo dõi chúng tôi
								nav.list-group.text-left
									//- .list-group-item
									//- 	p Nhận thông tin sản phẩm mới nhất, tin khuyến mãi và nhiều hơn nữa.
									//- form.has-input(action="")
									//- 	input.form-control(type="email" placeholder="Email của bạn")
									//- .button-res
									//- 	a(href="#").evo-button đăng ký
							.payment
								ul.list-items
									li.item
										img(src="https://bizweb.dktcdn.net/100/355/487/themes/720328/assets/payment_1.svg?1559792797851", alt="")
									li.item
										img(src="https://bizweb.dktcdn.net/100/355/487/themes/720328/assets/payment_2.svg?1559792797851", alt="")
									li.item
										img(src="https://bizweb.dktcdn.net/100/355/487/themes/720328/assets/payment_3.svg?1559792797851", alt="")
									li.item
										img(src="https://bizweb.dktcdn.net/100/355/487/themes/720328/assets/payment_4.svg?1559792797851", alt="")
									li.item
										img(src="https://bizweb.dktcdn.net/100/355/487/themes/720328/assets/payment_5.svg?1559792797851", alt="")


					
					
	.copy-right
		.container
			.row
				.col-6.text-left
					p © Bản quyền thuộc về <span>Cool Team</span> | Cung cấp bởi 
						a(href="")
							| Sapo
				.col-6.text-right
					ul.fl-option
						li
							a(href="")
								i.fab.fa-facebook-f
						li
							a(href="")
								i.fab.fa-twitter
						li
							a(href="")
								i.fab.fa-google
						li
							a(href="")
								i.fab.fa-instagram
						li
							a(href="")
								i.fab.fa-youtube
				
