section.home-5
	.container
		.main-title.tac.line
			h2 sản phẩm hot
		.main-slide(data-slide)
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.product-item
							figure
								.image
									a(href="javasript:void(0)")
										img(src="./img/product-1.png", alt="")
									
									.action
										a(href="javascript:void(0)")
											em.mdi.mdi.mdi-magnify-plus-outline
										a(href="javascript:void(0)")
											em.mdi.mdi-shopping
								figcaption
									a(href="javasript:void(0)")
										h5 Túi đeo ngang bằng nhựa VINYL
									.star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
									.price
										.new 400.000đ
									.sale Sale
					.swiper-slide
						.product-item
							figure
								.image
									a(href="javasript:void(0)")
										img(src="./img/product-1.png", alt="")
									
									.action
										a(href="javascript:void(0)")
											em.mdi.mdi.mdi-magnify-plus-outline
										a(href="javascript:void(0)")
											em.mdi.mdi-shopping
								figcaption
									a(href="javasript:void(0)")
										h5 Túi đeo ngang bằng nhựa VINYL
									.star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
									.price
										.new 400.000đ
									.sale Sale
					.swiper-slide
						.product-item
							figure
								.image
									a(href="javasript:void(0)")
										img(src="./img/product-1.png", alt="")
									
									.action
										a(href="javascript:void(0)")
											em.mdi.mdi.mdi-magnify-plus-outline
										a(href="javascript:void(0)")
											em.mdi.mdi-shopping
								figcaption
									a(href="javasript:void(0)")
										h5 Túi đeo ngang bằng nhựa VINYL
									.star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
									.price
										.new 400.000đ
									.sale Sale
					.swiper-slide
						.product-item
							figure
								.image
									a(href="javasript:void(0)")
										img(src="./img/product-1.png", alt="")
									
									.action
										a(href="javascript:void(0)")
											em.mdi.mdi.mdi-magnify-plus-outline
										a(href="javascript:void(0)")
											em.mdi.mdi-shopping
								figcaption
									a(href="javasript:void(0)")
										h5 Túi đeo ngang bằng nhựa VINYL
									.star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
									.price
										.new 400.000đ
									.sale Sale
					.swiper-slide
						.product-item
							figure
								.image
									a(href="javasript:void(0)")
										img(src="./img/product-1.png", alt="")
									
									.action
										a(href="javascript:void(0)")
											em.mdi.mdi.mdi-magnify-plus-outline
										a(href="javascript:void(0)")
											em.mdi.mdi-shopping
								figcaption
									a(href="javasript:void(0)")
										h5 Túi đeo ngang bằng nhựa VINYL
									.star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
									.price
										.new 400.000đ
									.sale Sale
					.swiper-slide
						.product-item
							figure
								.image
									a(href="javasript:void(0)")
										img(src="./img/product-1.png", alt="")
									
									.action
										a(href="javascript:void(0)")
											em.mdi.mdi.mdi-magnify-plus-outline
										a(href="javascript:void(0)")
											em.mdi.mdi-shopping
								figcaption
									a(href="javasript:void(0)")
										h5 Túi đeo ngang bằng nhựa VINYL
									.star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
									.price
										.new 400.000đ
									.sale Sale
					.swiper-slide
						.product-item
							figure
								.image
									a(href="javasript:void(0)")
										img(src="./img/product-1.png", alt="")
									
									.action
										a(href="javascript:void(0)")
											em.mdi.mdi.mdi-magnify-plus-outline
										a(href="javascript:void(0)")
											em.mdi.mdi-shopping
								figcaption
									a(href="javasript:void(0)")
										h5 Túi đeo ngang bằng nhựa VINYL
									.star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
									.price
										.new 400.000đ
									.sale Sale
					.swiper-slide
						.product-item
							figure
								.image
									a(href="javasript:void(0)")
										img(src="./img/product-1.png", alt="")
									
									.action
										a(href="javascript:void(0)")
											em.mdi.mdi.mdi-magnify-plus-outline
										a(href="javascript:void(0)")
											em.mdi.mdi-shopping
								figcaption
									a(href="javasript:void(0)")
										h5 Túi đeo ngang bằng nhựa VINYL
									.star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
									.price
										.new 400.000đ
									.sale Sale
					.swiper-slide
						.product-item
							figure
								.image
									a(href="javasript:void(0)")
										img(src="./img/product-1.png", alt="")
									
									.action
										a(href="javascript:void(0)")
											em.mdi.mdi.mdi-magnify-plus-outline
										a(href="javascript:void(0)")
											em.mdi.mdi-shopping
								figcaption
									a(href="javasript:void(0)")
										h5 Túi đeo ngang bằng nhựa VINYL
									.star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
										em.fas.fa-star
									.price
										.new 400.000đ
									.sale Sale
			.swiper-nav
				.swiper-btn.swiper-prev
					em.mdi.mdi-chevron-left
				.swiper-btn.swiper-next
					em.mdi.mdi-chevron-right
