extends _layout/layout

block variables
	- var title = 'The main web'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
block header
	include ../lib/header/index.pug
block main
	include ../lib/slider/index.pug
	include ../lib/home/h-1/index.pug
	include ../lib/home/h-2/index.pug
	include ../lib/home/h-3/index.pug
	include ../lib/home/h-5/index.pug
	include ../lib/home/h-4/index.pug
	//- include ../lib/product/p-2/index.pug
	include ../lib/news/index.pug
block footer
	include ../lib/footer/index.pug
