header
	.top-header
		a(href="#")
	.mid-header
		.container
			.row
				.col-lg-2.col-md-2
					a(href="#")
						img.img-logo(src="img/logo.png", alt="")
				.col-lg-8.col-md-8
					.header-left 
						.header-block-items
							.icon
								img.imgicon(src="img/icon_header_1.png", alt="")
							.info
								strong Hotline mua hàng:
								p Gọi ngay:&nbsp
									a(href="#")|0359329688
								
						.header-block-items
							.icon
								img.imgicon(src="img/icon_header_2.png", alt="")
							.info
								strong Giao hàng tận nơi:  
								p Miễn phí với hóa đơn trên&nbsp
									a(href="#") 500k
						.header-block-items
							.icon
								img.imgicon(src="img/icon_header_3.png", alt="")
							.info
								strong Giờ mở cửa:
								p 8h00 - 21h00, Thứ 2 - CN
				.col-lg-2.col-md-2
					.top-cart-contain
						.login-content
							a(href="#").click-account
								.far.fa-user
								.span.hidden-md Tài khoản
							ul.ul-account
								li.dn
									a(href="#") Đăng nhập
								li.dk
									a(href="#") Đăng kí
						.mini-cart
							a.click-cart(href="#")
								.fas.fa-shopping-bag
								span.cout-items 0
							.no-item
								p Không có sản phẩm nào trong giỏ hàng 

	.bot-header
		.container
			.row
				.col-lg-9
					ul.item-big
						li.nav-item.active
							a(href="#") TRANG CHỦ
						li.nav-item
							a(href="#") GIỚI THIỆU
						li.nav-item.pad-right
							a(href="#") SẢN PHẨM
								.fas.fa-caret-down
							ul.hidden-menu-1
								li.hidden-menu.rl
									a.menu-1(href="#") Sản phẩm nổi bật
										.fas.fa-caret-right
									ul.small-menu-hidden
										li.hidden-menu-2
											a.menu-2(href="#") Túi xách đeo ngang
										li.hidden-menu-2
											a.menu-2(href="#") Túi xách đeo chéo
										li.hidden-menu-2
											a.menu-2(href="#") Túi xách đeo da
										li.hidden-menu-2
											a.menu-2(href="#") Túi xách mini
										li.hidden-menu-2
											a.menu-2(href="#") Túi xách lớn
								li.hidden-menu
									a.menu-1(href="#") Sản phẩm hot
								li.hidden-menu
									a.menu-1(href="#") Sản phẩm mới
								li.hidden-menu
									a.menu-1(href="#") Sản phẩm bán chạy 
						li.nav-item
							a(href="#") SẢN PHẨM MỚI
						li.nav-item
							a(href="#") TIN TỨC
						li.nav-item
							a(href="#") LIÊN HỆ
				.col-lg-3
					.header-search
						form.input-group
							input.search(type="search" placeholder="Tìm kiếm sản phẩm ...")
							span.input-group-btn
								button.search-bg
									.fas.fa-search
	.menu-moblie-header
		.container
			.row
				.content-header
					.col-lg-2
						.button-moblie
							.fas.fa-bars
					.col-lg-8
						.img-logo
							img.logo-mobi(src="/img/logo.png", alt="")
					.col-lg-2.end
						.mini-cart
							a.click-cart(href="#")
								.fas.fa-shopping-bag
								span.cout-items 0
			.row
				.search-mobi
					form.input-group
							input.search(type="search" placeholder="Tìm kiếm sản phẩm ...")
							span.input-group-btn
								button.search-bg
									.fas.fa-search
	.menu-hidden-mobi
		.top-logo
			.logo-menu-moblie
				img.logo-menu-mobi(src="img/logo.png", alt="")
		.menu-moblie-big
			.link-list-mobi
				ul.ct-mobi
					li.menu 
						a.menu-m-1(href="#") Trang chủ
					li.menu 
						a.menu-m-1(href="#") Giới thiệu
					li.menu 
						a.menu-m-1(href="#") Sản phẩm
						.fas.fa-minus
						.fas.fa-plus
						
						ul.menu-hidden-2
							li.menu-m-2
								a.amenu-m-2(href="#") Sản phẩm nổi bật
								.fas.fa-minus
								.fas.fa-plus
								ul.menu-hidden-3
									li.menu-m-3
										a.amenu-m-3(href="#") Sản phẩm nổi bật
									li.menu-m-3
										a.amenu-m-3(href="#") Sản phẩm nổi bật
									li.menu-m-3
										a.amenu-m-3(href="#") Sản phẩm nổi bật
									li.menu-m-3
										a.amenu-m-3(href="#") Sản phẩm nổi bật
									li.menu-m-3
										a.amenu-m-3(href="#") Sản phẩm nổi bật
							li.menu-m-2
								a.amenu-m-2(href="#") Sản phẩm hot
							li.menu-m-2
								a.amenu-m-2(href="#") Sản phẩm mới
							li.menu-m-2
								a.amenu-m-2(href="#") Sản phẩm bán chạy
						
					li.menu 
						a.menu-m-1(href="#") Tin tức
					li.menu 
						a.menu-m-1(href="#") Liên hệ

	.backdrop





