section.home-4
	.container
		.main-title.tac
			h2 Tin tức mới nhất
		.news-slide
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.news-item
							a(href="javascript:void(0)")
								.item
									.top-item
										.image
											img(src="./img/banner3.png", alt="")
										.time
											h5 27
											p Tháng 11
									.bot-item
										.top-content
											h3 Không khí lễ hội rộn ràng trong chiến dịch mới khi Coach “bắt tay” cùng Selena Gomez
											p
												em.mdi.mdi-account
												|  Đăng bởi: Cool Team
										.bot-content
											p   Mới đây, nhà mốt đình đám từ New York -Coach vừa ra mắt giới mộ điệu chiến dịch cho mùa lễ hội ...
					.swiper-slide
						.news-item
							a(href="javascript:void(0)")
								.item
									.top-item
										.image
											img(src="./img/banner3.png", alt="")
										.time
											h5 27
											p Tháng 11
									.bot-item
										.top-content
											h3 Không khí lễ hội rộn ràng trong chiến dịch mới khi Coach “bắt tay” cùng Selena Gomez
											p
												em.mdi.mdi-account
												|  Đăng bởi: Cool Team
										.bot-content
											p   Mới đây, nhà mốt đình đám từ New York -Coach vừa ra mắt giới mộ điệu chiến dịch cho mùa lễ hội ...
					.swiper-slide
						.news-item
							a(href="javascript:void(0)")
								.item
									.top-item
										.image
											img(src="./img/banner3.png", alt="")
										.time
											h5 27
											p Tháng 11
									.bot-item
										.top-content
											h3 Không khí lễ hội rộn ràng trong chiến dịch mới khi Coach “bắt tay” cùng Selena Gomez
											p
												em.mdi.mdi-account
												|  Đăng bởi: Cool Team
										.bot-content
											p   Mới đây, nhà mốt đình đám từ New York -Coach vừa ra mắt giới mộ điệu chiến dịch cho mùa lễ hội ...
					.swiper-slide
						.news-item
							a(href="javascript:void(0)")
								.item
									.top-item
										.image
											img(src="./img/banner3.png", alt="")
										.time
											h5 27
											p Tháng 11
									.bot-item
										.top-content
											h3 Không khí lễ hội rộn ràng trong chiến dịch mới khi Coach “bắt tay” cùng Selena Gomez
											p
												em.mdi.mdi-account
												|  Đăng bởi: Cool Team
										.bot-content
											p   Mới đây, nhà mốt đình đám từ New York -Coach vừa ra mắt giới mộ điệu chiến dịch cho mùa lễ hội ...
					.swiper-slide
						.news-item
							a(href="javascript:void(0)")
								.item
									.top-item
										.image
											img(src="./img/banner3.png", alt="")
										.time
											h5 27
											p Tháng 11
									.bot-item
										.top-content
											h3 Không khí lễ hội rộn ràng trong chiến dịch mới khi Coach “bắt tay” cùng Selena Gomez
											p
												em.mdi.mdi-account
												|  Đăng bởi: Cool Team
										.bot-content
											p   Mới đây, nhà mốt đình đám từ New York -Coach vừa ra mắt giới mộ điệu chiến dịch cho mùa lễ hội ...